.home {
  background-image: url("../assets//img/homebg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 100vh;
  z-index: 0;
  padding-top: 150px;
  display: flex;
  justify-content: center;
}
