.home {
  background-image: url("../assets//img/homebg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 100vh;
  z-index: 0;
  padding-top: 200px;
  display: flex;
  justify-content: center;
  margin-top: -150px;
}
.home h1{
  margin-top: 80px;
  font-size: 105px;
  color: white;
  font-weight: 700;
  width: 100px;
  line-height: 100px;
  margin-bottom: 30px;
}

.home .home__cta{
  background-color: #fff;
  color: #222;
  padding: 8px 20px;
  margin-top: 40px;
  border-radius: 10px;
  font-size: 14px;

}