.ListingsMap__list-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(85, 85, 97);
    color:white;
    width: 100px;
    height: 50px;
    border-radius: 50px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    font-weight: 700;
    z-index: 3000;
    cursor: pointer;
    opacity: 0.6;
}
.ListingsMap__list-btn:hover{
    background-color: rgb(66, 66, 71);
    opacity: 1;
}