.logo {
  height: 50px;
}
.NavBar {
  z-index: 11120;
  display: flex;
  flex-wrap: wrap;
  padding:0px 0px;
  height: fit-content;
  min-height: 50px;
  padding: 8px 0px;
}
.NavBar-white{
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px !important;
  background-color: white;
}

.navbar-light .navbar-nav .nav-link.active{
  color: white;
}
.nav-link.active::after{
  background-color:white;
  content: "";
  position:absolute;
  height: 3px;
  width: 30px;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}
.NavBar a .NavBar__link{
color:white;
font-weight: 700;
font-size: 14px;
}

.NavBar__drop-title:hover{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  cursor: pointer;
}

  

.NavBar .navbar-nav a.nav-link{
  color:white;
  position: relative;
  display: flex;
}
.NavBar.NavBar-white .navbar-nav a.nav-link{
  color:black;

  }
.NavBar__drop-title{
  border: 1px solid #ddd;
  background-color: white;
  display: flex;
  width: 77px;
  align-items: center;
  justify-content:center;
border-radius: 30px;
padding: 5px 10px;
transition: box-shadow 0.2s ease !important;
    transition-property: box-shadow !important;
    transition-duration: 0.2s !important;
    transition-timing-function: ease !important;
    transition-delay: 0s !important;

}
.NavBar .MuiSvgIcon-root{
align-self: center;

}

.NavBar .MuiSvgIcon-root:nth-child(2){
  font-size: 33px;
  color:gray;

}
.dropdown-toggle .nav-link{
  align-items: center;
}


.NavBar .MuiSvgIcon-root:nth-child(1){
  font-size: 20px;
  color: black;
  margin-right: 5px;
}

.dropdown-toggle::after{
  opacity: 0%;
}

.dropdown-menu.show{
  left:-50%;
  transform: translateX(-30%);
  top:100%;
  height: fit-content;
  border-radius: 30px;
  width: 20vw;
  overflow: hidden;
}
.NavBar__right-menu{
  align-items: center;
}
